<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      function baseAction(action) {
          var path = "/api/base?" + action + "&speed=" + document.getElementById("speed").value;
          path = path.replace("DIS", document.getElementById("distance").value);
          makeApiCall(path);
      }

      function doAction(name) {
          var path = "/api/action?name=" + name;
          makeApiCall(path);
      }
      
      function makeApiCall(path, cb, data) {
          if (!cb) {
              theData.error = "";
              document.getElementById("res").innerHTML = "";
              console.log(path);
          }

          var options = {
              method : "POST",
              headers : {}
          }

          if (data) {
              options.headers["Content-Type"] = "application/json"
              options.body = JSON.stringify(data)
          }
          
          fetch( path, options)
              .then(function(response) {
                  return response.json();})
              .then(function(response) {
                  if ("err" in response ){
                      theData.error = JSON.stringify(response);
                  } else if (cb) {
                      cb(response);
                  } else {
                      document.getElementById("res").innerHTML = JSON.stringify(response);
                  }
              });
      }
      
      {{ range $view := .Views }}
        {{ jsSafe $view.JavaScript }}
      {{ end }}


      function boardAction(type, boardName, typeName, action) {
          var path = "/api/board/" + boardName + "/" + type + "?name=" + typeName + "&" + action;
          console.log(path);
          makeApiCall(path);
      }

      function updateBoardView(name) {
          makeApiCall("/api/board/" + name, function(response) {

              function fillIn(longName, shortName) {
                  for (var a in response[longName] ) {
                      var id = "board_" + shortName + "_" + name + "_" + a;
                      var e = document.getElementById(id);
                      e.innerHTML = response[longName][a];
                  }
              }
              fillIn("analogs", "a");
              fillIn("digitalInterrupts", "di");
              fillIn("servos", "s");
          });
          setTimeout(updateBoardView, 500, name);
      }

      function mapToList(m) {
          var l = [];
          for ( var n in m ) {
              l.push( { name : n, value : m[n] });
          }
          return l;
      }

      function fixArms(old) {
          var n = [];
          for (var i=0; i<old.length; i++) {
              var arm = old[i];
              var newArm = { name : arm.name, pieces : [] };

              var fields = [ "X", "Y", "Z", "Rx", "Ry", "Rz"];
              for (var j=0; j<fields.length; j++ ){
                  newArm.pieces.push( { grid : fields[j],
                                        joint : j,
                                        gridValue : arm.value.GridPosition[fields[j]],
                                        jointValue : arm.value.JointPositions.Degrees[j],
                                      });
              }
              
              n.push(newArm);
          }
          return n;
      }
      
      hi = false;
      
      function updateStatus() {

          makeApiCall("/api/status", function(response) {
              theData.rawStatus = response;
              var status = {};

              // make vue friendly
              status.Arms = mapToList(response.Arms);
              status.Grippers = mapToList(response.Grippers);

              status.Arms = fixArms(status.Arms);
              if (!hi) {
                  console.log(status.Arms);
                  hi = true;
              }


              theData.status = status;
          });
          setTimeout(updateStatus, 500);

      }
      
      function startup() {
          theData = {
              error : "",
              rawStatus : null,
              status : {}
          };
          theApp = new Vue({
              el: '#app',
              delimiters: ['${', '}'],
              data: theData,
              methods : {
                  armGridInc : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].GridPosition;
                      var newPosition = Object.assign({}, old);
                      newPosition[field] += amount;
                      makeApiCall("/api/arm/MoveToPosition", null, { Name : name, To : newPosition});
                  },
                  armJointInc : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].JointPositions;
                      var newPosition = Object.assign({}, old);
                      newPosition.Degrees[field] += amount;
                      makeApiCall("/api/arm/MoveToJointPositions", null, { Name : name, To : newPosition});
                  },
                  armHome : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].GridPosition;
                      var newPosition = {};
                      for (var k in old) {
                          newPosition[k] = 0.0;
                      }
                      makeApiCall("/api/arm/MoveToPosition", null, { Name : name, To : newPosition});
                  },
                  gripperAction : function(name, action) {
                      var path = "/api/gripper?name=" + name + "&action=" + action;
                      makeApiCall(path);
                  },

              }
          })
          updateStatus();
      }
      
    </script>
  </head>
  <body onLoad="startup()">
    <div id="app">
      <div id="actions">
        <button onclick="doAction('RandomWalk')">Random Walk</button>
        <button onclick="doAction('ResetBox')">Reset Box</button>
      </div>      

      <div style="font-color: red">${ error }</div>

      <!-- ******* ARM *******  -->
      <div class="arm" v-for="arm in status.Arms" :key="arm.name">
        <h3>Arm ${arm.name}</h3>
        <table border="1">
          <tr>
            <th colspan="4"><h5>GRID</h5></th>
            <th colspan="4"><h5>JOINTS</h5></th>
          </tr>
          <tr v-for="aa in arm.pieces" :key="aa.joint">
            <th>${aa.grid}</th>
            <td>
              <button v-on:click="armGridInc( arm.name, aa.grid, -2 )">--</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, -1 )">-</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, 1 )">+</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, 2 )">++</button>
            </td>
            <td>${aa.gridValue}</td>

            <td></td>
            
            <th>Joint ${aa.joint}</th>
            <td>
              <button v-on:click="armJointInc( arm.name, aa.joint, -2 )">--</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, -1 )">-</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 1 )">+</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 2 )">++</button>
            </td>
            <td>${aa.jointValue}</td>
          </tr>
          <tr>
            <th colspan="8"> 
              <button v-on:click="armHome( arm.name)">Home</button>
            </th>
          </tr>

        </table>
      </div> 
      
      <!-- ******* GRIPPER *******  -->
      <div class="gripper" v-for="gripper in status.Grippers" :key="gripper.name">
        <h3>Gripper ${ gripper.name }</h3>
        <ul>
          <li><button v-on:click="gripperAction( gripper.name, 'open')">Open</button></li>
          <li><button v-on:click="gripperAction( gripper.name, 'grab')">Grab</button></li>
        </ul>
      </div>

      
    </div>

    
    {{ range $b := .Bases }}
    <div class="base">
      {{ $b }}
      <ul>
        <li><button onclick="baseAction('distanceMillis=DIS')">Forward</button></li>
        <li><button onclick="baseAction('distanceMillis=-DIS')">Backward</button></li>
        <li><button onclick="baseAction('angle=15')">Spin Clockwise</button></li>
        <li><button onclick="baseAction('angle=-15')">Spin Counterclockwise</button></li>
      </ul>

      Speed (mm per sec): <input id="speed" name="speed" value="300"/><br>
      Distances (mm): <input id="distance" name="speed" value="500"/><br>
    </div>
    {{ end }}


    
    <table>
      <tr>
        <td><img id="i0" src=""/></td>
        <td><img id="i1" src=""/></td>
        {{ range $view := .Views }}
          <td>
          {{ htmlSafe $view.Body }}
          </td>
        {{ end }}
      </tr>
      </table>

    {{ range $b := .Boards }}
    <h3>Board {{$b.Name}}</h3>
    <table border="1">
      <tr><th>Model</th><td>{{$b.Model}}</td></tr>
      
      {{if $b.Motors }}
      <tr><th colspan="2">Motors</th></tr>
      
      {{ range $m := $b.Motors }}
      <tr>
        <th>{{$m.Name}}</th>
        <td>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=backward&s=64')">--</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=backward&s=32')">-</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=none&s=0')">0</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=forward&s=32')">+</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=forward&s=64')">++</button>
        </td>
      </tr>
      {{ if $m.Encoder }}
      <tr>
        <td></td>
        <td>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=backward&s=64&r=10')">-10</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=backward&s=32&r=1')">-1</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=forward&s=32&r=1')">+1</button>
          <button onclick="boardAction('motor', '{{$b.Name}}', '{{$m.Name}}', 'd=forward&s=64&r=10')">+10</button>
        </td>
      </tr>
      {{end }}
      
      {{ end }}
      {{end}}
    
      {{if $b.Analogs }}
      <tr><th colspan="2">Analogs</th></tr>
      {{ range $a := $b.Analogs }}
      <tr><th>{{$a.Name}}</th><td id="board_a_{{$b.Name}}_{{$a.Name}}"></td></tr>
      {{ end }}
      {{end}}

      {{if $b.DigitalInterrupts }}
      <tr><th colspan="2">DigitalInterrupts</th></tr>
      {{ range $i := $b.DigitalInterrupts }}
      <tr><th>{{$i.Name}}</th><td id="board_di_{{$b.Name}}_{{$i.Name}}"></td></tr>
      {{ end }}
      {{end}}

      {{if $b.Servos}}
      <tr><th colspan="2">Servos</th></tr>
      {{ range $i := $b.Servos }}
      <tr><th>{{$i.Name}}</th><td id="board_s_{{$b.Name}}_{{$i.Name}}"></td></tr>
      <tr>
        <td></td>
        <td>
          <button onclick="boardAction('servo', '{{$b.Name}}', '{{$i.Name}}', 'delta=-10')">-10</button>
          <button onclick="boardAction('servo', '{{$b.Name}}', '{{$i.Name}}', 'delta=-1')">-1</button>
          <button onclick="boardAction('servo', '{{$b.Name}}', '{{$i.Name}}', 'delta=1')">+1</button>
          <button onclick="boardAction('servo', '{{$b.Name}}', '{{$i.Name}}', 'delta=10')">+10</button>
        </td>
      </tr>
      {{ end }}      
      {{end}}
      
    </table>
    <script>updateBoardView('{{$b.Name}}');</script>
    {{end}} <!-- end Boards -->
    
    
    <div id="res"></div>
    
  </body>
</html>

