<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      function makeApiCall(path, cb, data) {
          if (!cb) {
              theData.error = "";
              document.getElementById("res").innerHTML = "";
              console.log(path);
          }

          var options = {
              method : "POST",
              headers : {}
          }

          if (data) {
              options.headers["Content-Type"] = "application/json"
              options.body = JSON.stringify(data)
          }
          
          fetch( path, options)
              .then(function(response) {
                  return response.json();})
              .then(function(response) {
                  if ("err" in response ){
                      theData.error = JSON.stringify(response);
                  } else if (cb) {
                      cb(response);
                  } else {
                      document.getElementById("res").innerHTML = JSON.stringify(response);
                  }
              });
      }
      
      {{ range $view := .Views }}
        {{ jsSafe $view.JavaScript }}
      {{ end }}

      function mapToList(m) {
          var l = [];
          for ( var n in m ) {
              l.push( { name : n, value : m[n] });
          }
          return l;
      }

      function fixArms(old) {
          var n = [];
          for (var i=0; i<old.length; i++) {
              var arm = old[i];
              var newArm = { name : arm.name, pieces : [] };

              var fields = [ "X", "Y", "Z", "Rx", "Ry", "Rz"];
              for (var j=0; j<fields.length; j++ ){
                  newArm.pieces.push( { grid : fields[j],
                                        joint : j,
                                        gridValue : arm.value.GridPosition[fields[j]],
                                        jointValue : arm.value.JointPositions.Degrees[j],
                                      });
              }
              
              n.push(newArm);
          }
          return n;
      }

      function fixBoards(old) {
          var n = [];
          for (var i=0; i<old.length; i++) {
              var board = old[i];
              var newBoard = { name : board.name };
              for (var k in board.value) {
                  newBoard[k] = mapToList(board.value[k]);
              }
              n.push(newBoard);
          }
          return n;
      }

      firstResult = false;
      
      function updateStatus() {

          makeApiCall("/api/status", function(response) {
              theData.rawStatus = response;
              var status = {};

              // make vue friendly
              status.Arms = mapToList(response.Arms);
              status.Bases = mapToList(response.Bases);
              status.Grippers = mapToList(response.Grippers);
              status.Boards = mapToList(response.Boards);

              status.Arms = fixArms(status.Arms);
              status.Boards = fixBoards(status.Boards);
              
              if (!firstResult) {
                  console.log(status);
                  firstResult = true;
              }

              theData.status = status;
          });
          setTimeout(updateStatus, 500);

      }
      
      function startup() {
          theData = {
              error : "",
              rawStatus : null,
              status : {}
          };
          theApp = new Vue({
              el: '#app',
              delimiters: ['${', '}'],
              data: theData,
              methods : {
                  armGridInc : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].GridPosition;
                      var newPosition = Object.assign({}, old);
                      newPosition[field] += amount;
                      makeApiCall("/api/arm/MoveToPosition", null, { Name : name, To : newPosition});
                  },
                  armJointInc : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].JointPositions;
                      var newPosition = Object.assign({}, old);
                      newPosition.Degrees[field] += amount;
                      makeApiCall("/api/arm/MoveToJointPositions", null, { Name : name, To : newPosition});
                  },
                  armHome : function(name, field, amount) {
                      var old = theData.rawStatus.Arms[name].GridPosition;
                      var newPosition = {};
                      for (var k in old) {
                          newPosition[k] = 0.0;
                      }
                      makeApiCall("/api/arm/MoveToPosition", null, { Name : name, To : newPosition});
                  },
                  gripperAction : function(name, action) {
                      var path = "/api/gripper?name=" + name + "&action=" + action;
                      makeApiCall(path);
                  },
                  servoMove : function(board, servo, amount) {
                      var angle = theData.rawStatus.Boards[board].Servos[servo].Angle + amount;
                      var path = "/api/board/" + board + "/servo?name=" + servo + "&angle=" + angle;
                      makeApiCall(path);
                  },
                  motorButton: function(board, motor, cmd) {
                      var path = "/api/board/" + board + "/motor?name=" + motor + "&" + cmd;
                      makeApiCall(path);
                  },
                  doAction : function(name) {
                      var path = "/api/action?name=" + name;
                      makeApiCall(path);
                  },
                  baseAction : function(name, action) {
                      var path = "/api/base?name=" + name + "&" + action + "&speed=" + document.getElementById("speed").value;
                      path = path.replace("DIS", document.getElementById("distance").value);
                      makeApiCall(path);
                  }
              }
          })
          updateStatus();
      }
      
    </script>
  </head>
  <body onLoad="startup()">
    <div id="app">
      <div id="actions">
        <button v-on:click="doAction('RandomWalk')">Random Walk</button>
        <button v-on:click="doAction('ResetBox')">Reset Box</button>
      </div>      

      <div style="font-color: red">${ error }</div>

      <!-- ******* BASE *******  -->
      <div class="base" v-for="base in status.Bases" :key="base.name">
        <h3>${base.name}</h3>
        <ul>
          <li><button v-on:click="baseAction(base.name, 'distanceMillis=DIS')">Forward</button></li>
          <li><button v-on:click="baseAction(base.name, 'distanceMillis=-DIS')">Backward</button></li>
          <li><button v-on:click="baseAction(base.name, 'angle=15')">Spin Clockwise</button></li>
          <li><button v-on:click="baseAction(base.name, 'angle=-15')">Spin Counterclockwise</button></li>
        </ul>
        
        Speed (mm per sec): <input id="speed" name="speed" value="300"/><br>
        Distances (mm): <input id="distance" name="speed" value="500"/><br>
      </div>

      <!-- ******* ARM *******  -->
      <div class="arm" v-for="arm in status.Arms" :key="arm.name">
        <h3>Arm ${arm.name}</h3>
        <table border="1">
          <tr>
            <th colspan="4"><h5>GRID</h5></th>
            <th colspan="4"><h5>JOINTS</h5></th>
          </tr>
          <tr v-for="aa in arm.pieces" :key="aa.joint">
            <th>${aa.grid}</th>
            <td>
              <button v-on:click="armGridInc( arm.name, aa.grid, -2 )">--</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, -1 )">-</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, 1 )">+</button>
              <button v-on:click="armGridInc( arm.name, aa.grid, 2 )">++</button>
            </td>
            <td>${aa.gridValue}</td>

            <td></td>
            
            <th>Joint ${aa.joint}</th>
            <td>
              <button v-on:click="armJointInc( arm.name, aa.joint, -2 )">--</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, -1 )">-</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 1 )">+</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 2 )">++</button>
            </td>
            <td>${aa.jointValue}</td>
          </tr>
          <tr>
            <th colspan="8"> 
              <button v-on:click="armHome( arm.name)">Home</button>
            </th>
          </tr>

        </table>
      </div> 
      
      <!-- ******* GRIPPER *******  -->
      <div class="gripper" v-for="gripper in status.Grippers" :key="gripper.name">
        <h3>Gripper ${ gripper.name }</h3>
        <ul>
          <li><button v-on:click="gripperAction( gripper.name, 'open')">Open</button></li>
          <li><button v-on:click="gripperAction( gripper.name, 'grab')">Grab</button></li>
        </ul>
      </div>

      <!-- ******* BOARD *******  -->

      <div class="board" v-for="board in status.Boards" :key="board.name">
        <h3>Board ${board.name}</h3>
        <table border="1">
          
          <tr><th colspan="2">Motors</th></tr>
          <tbody v-for="m in board.Motors" :key="m.name">
            <tr>
              <th>${m.name}</th>
              <td>
                <button v-on:click="motorButton(board.name, m.name, 'd=backward&s=64')">--</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=backward&s=32')">-</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=none&s=0')">0</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=forward&s=32')">+</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=forward&s=64')">++</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button v-on:click="motorButton(board.name, m.name, 'd=backward&s=64&r=10')">-10</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=backward&s=32&r=1')">-1</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=forward&s=32&r=1')">+1</button>
                <button v-on:click="motorButton(board.name, m.name, 'd=forward&s=64&r=10')">+10</button>
              </td>
            </tr>

          </tbody>

          <tr><th colspan="2">Analogs</th></tr>
          <tr v-for="a in board.Analogs" :key="a.name">
            <th>${a.name}</th>
            <td>${a.value.Value}</td>
          </tr>

          <tr><th colspan="2">DigitalInterrupts</th></tr>
          <tr v-for="di in board.DigitalInterrupts" :key="di.name">
            <th>${di.name}</th>
            <td>${di.value.Value}</td>
          </tr>

          <tr><th colspan="2">Servos</th></tr>
          <tbody v-for="s in board.Servos" :key="s.name">
            <tr><th>${s.name}</th><td>${s.value.Angle}</td></tr>
            <tr>
              <td></td>
              <td>
                <button v-on:click="servoMove( board.name, s.name, -10)">-10</button>
                <button v-on:click="servoMove( board.name, s.name, -1)">-1</button>
                <button v-on:click="servoMove( board.name, s.name, 1)">1</button>
                <button v-on:click="servoMove( board.name, s.name, 10)">10</button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div> <!-- end boards -->
    </div> <!-- end vue app -->

    <table>
      <tr>
        <td><img id="i0" src=""/></td>
        <td><img id="i1" src=""/></td>
        {{ range $view := .Views }}
          <td>
          {{ htmlSafe $view.Body }}
          </td>
        {{ end }}
      </tr>
    </table>
    
    
    <div id="res"></div>
    
  </body>
</html>

