<html>
  <head>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <script src="./static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const enableDevTools = window.__GRPCWEB_DEVTOOLS__ || (() => {});
      enableDevTools([robotService]);
      async function consumeClientCall(prom) {
        try {
          const resp = await prom;
          theData.res = JSON.stringify(resp.toObject());
        } catch (e) {
          theData.error = JSON.stringify(e);
        }
      }
      
      {{ range $view := .Views }}
        {{ jsSafe $view.JavaScript }}
      {{ end }}

      function fixArms(old) {
          var n = [];
          for (var i=0; i<old.length; i++) {
              const [armName, armValue] = old[i];
              var newArm = { name : armName, pieces : [] };

              var fieldSetters = [ ["x", "X"], ["y", "Y"], ["z", "Z"], ["rX", "RX"], ["rY", "RY"], ["rZ", "RZ"]];
              for (var j=0; j<fieldSetters.length; j++ ){
                  newArm.pieces.push( { grid : fieldSetters[j],
                                        joint : j,
                                        gridValue : armValue.gridPosition[fieldSetters[j][0]],
                                        jointValue : armValue.jointPositions.degreesList[j],
                                      });
              }
              
              n.push(newArm);
          }
          return n;
      }

      firstResult = false;
      
      async function updateStatus(rawStatus) {
          theData.rawStatus = rawStatus;
          window.rawStatus = rawStatus;
          // toObject gives annoying suffixes; see https://github.com/protocolbuffers/protobuf/issues/6773
          const rawSatusObj = rawStatus.toObject();

          var status = {}

          // make vue friendly
          status.armsMap = rawSatusObj.armsMap;
          status.basesMap = rawSatusObj.basesMap;
          status.grippersMap = rawSatusObj.grippersMap;
          status.boardsMap = rawSatusObj.boardsMap;
          status.camerasMap = rawSatusObj.camerasMap;

          status.armsMap = fixArms(status.armsMap);

          if (!firstResult) {
            console.log(status);
            firstResult = true;
          }

          theData.status = status;
      }
      
      function startup() {
          theData = {
              error : "",
              res : {},
              rawStatus : null,
              status : {}
          };
          theApp = new Vue({
              el: '#app',
              delimiters: ['${', '}'],
              data: theData,
              methods : {
                  armGridInc : function(name, getterSetter, amount) {
                      const arm = theData.rawStatus.getArmsMap().get(name);
                      var old = arm.getGridPosition();
                      var newPosition = Object.assign(Object.create(robotApi.ArmPosition.prototype), old);
                      const getter = `get${getterSetter}`;
                      const setter = `set${getterSetter}`;
                      newPosition[setter](newPosition[getter]() + amount);
                      const req = new robotApi.MoveArmToPositionRequest();
                      req.setName(name);
                      req.setTo(newPosition);
                      consumeClientCall(robotService.moveArmToPosition(req));
                  },
                  armJointInc : function(name, field, amount) {
                      const arm = theData.rawStatus.getArmsMap().get(name);
                      var old = arm.getJointPositions();
                      var newPosition = Object.assign(Object.create(robotApi.JointPositions.prototype), old);
                      var newList = newPosition.getDegreesList();
                      newList[field] += amount;
                      newPosition.setDegreesList(newList);
                      const req = new robotApi.MoveArmToJointPositionsRequest();
                      req.setName(name);
                      req.setTo(newPosition);
                      consumeClientCall(robotService.moveArmToJointPositions(req));
                  },
                  armHome : function(name) {
                      const req = new robotApi.MoveArmToPositionRequest();
                      req.setName(name);
                      req.setTo(new robotApi.ArmPosition());
                      consumeClientCall(robotService.moveArmToPosition(req));
                  },
                  gripperAction : function(name, action) {
                      const req = new robotApi.ControlGripperRequest();
                      req.setName(name);
                      switch (action) {
                        case 'open':
                          req.setAction(robotApi.ControlGripperAction.CONTROL_GRIPPER_ACTION_OPEN);
                          break;
                        case 'grab':
                          req.setAction(robotApi.ControlGripperAction.CONTROL_GRIPPER_ACTION_GRAB);
                          break;
                      }
                      consumeClientCall(robotService.controlGripper(req));
                  },
                  servoMove : function(idx, servoIdx, amount) {
                      const [boardName, boardValue] = theData.status.boardsMap[idx];
                      const [servoName, servoValue] = boardValue.servosMap[servoIdx];
                      var angle = servoValue.angle + amount;
                      const req = new robotApi.ControlBoardServoRequest();
                      req.setBoardName(boardName);
                      req.setServoName(servoName);
                      req.setAngleDeg(angle);
                      consumeClientCall(robotService.controlBoardServo(req));
                  },
                  motorButton: function(board, motor, cmd) {
                      const req = new robotApi.ControlBoardMotorRequest();
                      req.setBoardName(board);
                      req.setMotorName(motor);
                      if (cmd.s) {
                        req.setSpeed(cmd.s);
                      }
                      if (cmd.r) {
                        req.setRotations(cmd.r);
                      }
                      switch (cmd.d) {
                        case 'backward':
                          req.setDirection(robotApi.DirectionRelative.DIRECTION_RELATIVE_BACKWARD);
                          break;
                        case 'forward':
                          req.setDirection(robotApi.DirectionRelative.DIRECTION_RELATIVE_FORWARD);
                          break;
                      }
                      consumeClientCall(robotService.controlBoardMotor(req));
                  },
                  doAction : function(name) {
                      const req = new robotApi.DoActionRequest();
                      req.setName(name);
                      consumeClientCall(robotService.doAction(req));
                  },
                  baseAction : function(name, action, amount) {
                      const req = new robotApi.ControlBaseRequest();
                      req.setName(name);
                      const moveBase = new robotApi.MoveBase();
                      moveBase.setSpeed(document.getElementById("speed").value)
                      switch (action) {
                        case 'straight':
                          moveBase.setStraightDistanceMillis(document.getElementById("distance").value * amount);
                          break;
                        case 'angle':
                          moveBase.setSpinAngleDeg(amount);
                          break;
                      }
                      req.setMove(moveBase);
                      consumeClientCall(robotService.controlBase(req));
                  }
              }
          })

          const streamReq = new robotApi.StatusStreamRequest();
          streamReq.setEvery((new proto.google.protobuf.Duration()).setNanos(500000000)); // 500ms
          const statusStream = robotService.statusStream(streamReq);
          statusStream.on('data', function(response) {
            updateStatus(response.getStatus());
          });
          statusStream.on('status', function(status) {
            console.log("error streaming robot status");
            console.log(status.code, " ", status.details);
          });
          statusStream.on('end', function(end) {
            console.log("done streaming robot status");
          });
      }
      
    </script>
  </head>
  <body onLoad="startup()">
    <div id="app">
      <div id="actions">
        {{range $r := .Actions}}
        <button v-on:click="doAction('{{$r}}')">{{$r}}</button>
        {{end}}
      </div>      

      <div style="font-color: red">${ error }</div>

      <!-- ******* BASE *******  -->
      <div class="base" v-for="base in status.basesMap" :key="base[0]">
        <h3>${base[0]}</h3>
        <ul>
          <li><button v-on:click="baseAction(base[0], 'straight', 1)">Forward</button></li>
          <li><button v-on:click="baseAction(base[0], 'straight', -1)">Backward</button></li>
          <li><button v-on:click="baseAction(base[0], 'angle', 15)">Spin Clockwise</button></li>
          <li><button v-on:click="baseAction(base[0], 'angle', -15)">Spin Counterclockwise</button></li>
        </ul>
        
        Speed (mm per sec): <input id="speed" name="speed" value="300"/><br>
        Distances (mm): <input id="distance" name="speed" value="500"/><br>
      </div>

      <!-- ******* ARM *******  -->
      <div class="arm" v-for="arm in status.armsMap" :key="arm.name">
        <h3>Arm ${arm.name}</h3>
        <table border="1">
          <tr>
            <th colspan="4"><h5>GRID</h5></th>
            <th colspan="4"><h5>JOINTS</h5></th>
          </tr>
          <tr v-for="aa in arm.pieces" :key="aa.joint">
            <th>${aa.grid[0]}</th>
            <td>
              <button v-on:click="armGridInc( arm.name, aa.grid[1], -2 )">--</button>
              <button v-on:click="armGridInc( arm.name, aa.grid[1], -1 )">-</button>
              <button v-on:click="armGridInc( arm.name, aa.grid[1], 1 )">+</button>
              <button v-on:click="armGridInc( arm.name, aa.grid[1], 2 )">++</button>
            </td>
            <td>${aa.gridValue}</td>

            <td></td>
            
            <th>Joint ${aa.joint}</th>
            <td>
              <button v-on:click="armJointInc( arm.name, aa.joint, -2 )">--</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, -1 )">-</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 1 )">+</button>
              <button v-on:click="armJointInc( arm.name, aa.joint, 2 )">++</button>
            </td>
            <td>${aa.jointValue}</td>
          </tr>
          <tr>
            <th colspan="8"> 
              <button v-on:click="armHome( arm.name)">Home</button>
            </th>
          </tr>

        </table>
      </div> 
      
      <!-- ******* GRIPPER *******  -->
      <div class="gripper" v-for="gripper in status.grippersMap" :key="gripper[0]">
        <h3>Gripper ${ gripper[0] }</h3>
        <ul>
          <li><button v-on:click="gripperAction( gripper[0], 'open')">Open</button></li>
          <li><button v-on:click="gripperAction( gripper[0], 'grab')">Grab</button></li>
        </ul>
      </div>

      <table>
        <tr>
          <td><img id="i0" src=""/></td>
          <td><img id="i1" src=""/></td>
          {{ range $view := .Views }}
          <td>
            {{ htmlSafe $view.Body }}
          </td>
          {{ end }}
        </tr>
      </table>
      
      <!-- ******* BOARD *******  -->

      <div class="board" v-for="(board, boardIndex) in status.boardsMap" :key="board[0]">
        <h3>Board ${board[0]}</h3>
        <table border="1">
          
          <tr><th colspan="2">Motors</th></tr>
          <tbody v-for="m in board[1].motorsMap" :key="m[0]">
            <tr>
              <th>${m[0]}</th>
              <td>
                <button v-on:click="motorButton(board[0], m[0], {d:'backward', s: 64})">--</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'backward', s: 32})">-</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'none', s: 0})">0</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'forward', s: 32})">+</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'forward', s: 64})">++</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button v-on:click="motorButton(board[0], m[0], {d:'backward', s: 64, r: 10})">-10</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'backward', s: 32, r: 1})">-1</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'forward', s: 32, r: 1})">+1</button>
                <button v-on:click="motorButton(board[0], m[0], {d:'forward', s: 64, r: 10})">+10</button>
              </td>
            </tr>
            
            <tr>
              <td align="right">On</td>
              <td>${m[1].on}</td>
            </tr>
            <tr>
              <td align="right">PositionSupported</td>
              <td>${m[1].positionSupported}</td>
            </tr>
            <tr>
              <td align="right">Position</td>
              <td>${m[1].position}</td>
            </tr>


          </tbody>

          <tr><th colspan="2">Analogs</th></tr>
          <tr v-for="a in board[1].analogsMap" :key="a[0]">
            <th>${a[0]}</th>
            <td>${a[1].value}</td>
          </tr>

          <tr><th colspan="2">DigitalInterrupts</th></tr>
          <tr v-for="di in board[1].digitalInterruptsMap" :key="di[0]">
            <th>${di[0]}</th>
            <td>${di[1].value}</td>
          </tr>

          <tr><th colspan="2">Servos</th></tr>
          <tbody v-for="(s, servoIndex) in board[1].servosMap" :key="s[0]">
            <tr><th>${s[0]}</th><td>${s[1].angle}</td></tr>
            <tr>
              <td></td>
              <td>
                <button v-on:click="servoMove( boardIndex, servoIndex, -10)">-10</button>
                <button v-on:click="servoMove( boardIndex, servoIndex, -1)">-1</button>
                <button v-on:click="servoMove( boardIndex, servoIndex, 1)">1</button>
                <button v-on:click="servoMove( boardIndex, servoIndex, 10)">10</button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div> <!-- end boards -->

      Camera Frames
      <ul>
        <li v-for="(cam,x) in status.camerasMap">
          <a :href="'/api/v1/camera/' + cam[0] + '/render_frame'">${cam[0]}</a>
        </li>
      </ul>
      <div>${res}</div>
    </div> <!-- end vue app -->
    
  </body>
</html>

