# Team SDK is responsible for CLI best practices and wishes to maintain insight into any
# changes currently being made to the CLI codebase.
/cli/app.go @viamrobotics/sdk-netcode
/cli/CONTRIBUTING.md @viamrobotics/sdk-netcode
/cli/STYLEGUIDE.md @viamrobotics/sdk-netcode
/cli/internal/ @viamrobotics/sdk-netcode
/components/ @viamrobotics/sdk-netcode
/services/ @viamrobotics/sdk-netcode
/app/ @viamrobotics/sdk-netcode
