[Unit]
Description=Viam Robot Server
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=10
ConditionPathExists=/etc/viam.json

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStartPre=/bin/bash -c "iptables -C PREROUTING -t nat -p tcp --dport 80 -j REDIRECT --to-port 8080 || iptables -A PREROUTING -t nat -p tcp --dport 80 -j REDIRECT --to-port 8080"
ExecStartPre=/bin/bash -c "iptables -C OUTPUT -t nat -o lo -p tcp --dport 80 -j REDIRECT --to-port 8080 || iptables -A OUTPUT -t nat -o lo -p tcp --dport 80 -j REDIRECT --to-port 8080"
ExecStart=/usr/bin/viam-server /etc/viam.json
ExecStopPost=/usr/sbin/iptables -D PREROUTING -t nat -p tcp --dport 80 -j REDIRECT --to-port 8080
ExecStopPost=/usr/sbin/iptables -D OUTPUT -t nat -o lo -p tcp --dport 80 -j REDIRECT --to-port 8080

[Install]
WantedBy=multi-user.target
