# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dSYM
*.o
*.d
*.mtb
*.a

# Test binary, built with `go test -c`
*.test

# output for pprof
*.prof
*.pprof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*~
*#
*.#*
*.DS_Store

vision/chess/out
/data/
out/
vendor
./minirover2
example_mti_parse_logfile
example_mti_receive_data
librplidar_sdk.a
**/sdk/output
