<html>
  <head>
    <script>
      function roverAction(action) {
          var path = "/api/base?" + action + "&speed=" + document.getElementById("speed").value;
          makeApiCall(path);
      }

      function makeApiCall(path, cb) {
          if (!cb) {
              document.getElementById("err").innerHTML = "";
              document.getElementById("res").innerHTML = "";
          }
          console.log(path);
          fetch( path, { method: "POST"})
              .then(function(response) {
                  return response.json();})
              .then(function(response) {
                  if ("err" in response ){
                      document.getElementById("err").innerHTML = JSON.stringify(response);
                  } else if (cb) {
                      cb(response);
                  } else {
                      document.getElementById("res").innerHTML = JSON.stringify(response);
                  }
              });
      }

      window.onkeypress = function(k) {
          switch (k.key) {
          case "s":
              roverAction("stop=true");
              break;
          }

      }

      function armInc(arm, action, mode) {
          if (!mode) {
              mode = "grid"
          }
          var path = "/api/arm?num=" + arm + "&mode=" + mode + "&action=inc&" + action;
          makeApiCall(path);
      }

      function gripperAction(num, action) {
          var path = "/api/gripper?num=" + num + "&" + action;
          makeApiCall(path);
      }
      
      {{ range $view := .RemoteViews }}
        {{ jsSafe $view.JavaScript }}
      {{ end }}

      function updateJointView(arm) {
          makeApiCall("/api/arm?mode=joint&arm=" + arm, function(response) {
              var j = response["joints"];
              for ( var i=0; i<j.length; i++) {
                  var id = "arm_j_" + arm + "_" + i;
                  document.getElementById(id).innerHTML = Number(j[i]).toFixed(2);
              }
              setTimeout(updateJointView, 500, arm);
          });
      }

      function updateGridView(arm) {
          makeApiCall("/api/arm?mode=grid&arm=" + arm, function(response) {
              for ( var i in response) {
                  var id = "arm_c_" + arm + "_" + i;
                  var e = document.getElementById(id);
                  if (e) {
                      e.innerHTML = Number(response[i]).toFixed(2);
                  }
              }
              setTimeout(updateJointView, 500, arm);
          });
      }

    </script>
  </head>
  <body>
    <div id="err" style="font-color: red"></div>
    {{ range $b := .Bases }}
    <div class="base">
      {{ $b }}
      <ul>
        <li><button onclick="roverAction('distanceMM=200')">Forward</button></li>
        <li><button onclick="roverAction('distanceMM=-200')">Backward</button></li>
        <li><button onclick="roverAction('angle=15')">Spin Clockwise</button></li>
        <li><button onclick="roverAction('angle=-15')">Spin Counterclockwise</button></li>
      </ul>

      Speed: <input id="speed" name="speed" value="64"/><br>
    </div>
    {{ end }}

    {{ range $idx, $a := .Arms }}
    <div class="arm">
      <h3>Arm {{ $a }}</h3>
      <script>
        updateJointView({{$idx}})
        updateGridView({{$idx}})
      </script>
      <table>
        <tr>
          <th><h5>GRID</h5></th>
          <th><h5>JOINTS</h5></th>
        </tr>
        <tr>
          <td>
            <ul>
              {{ template "C" list $idx "x"}}
              {{ template "C" list $idx "y"}}
              {{ template "C" list $idx "z"}}
            </ul>
          </td>
          <td>
            <ul>
              {{template "J" list $idx 0}}
              {{template "J" list $idx 1}}
              {{template "J" list $idx 2}}
              {{template "J" list $idx 3}}
              {{template "J" list $idx 4}}
              {{template "J" list $idx 5}}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    {{ end }}

    {{ range $idx, $g := .Grippers }}
    <div class="gripper">
      Gripper {{ $g }}
      <ul>
        <li><button onclick="gripperAction({{ $idx }}, 'action=open')">Open</button></li>
        <li><button onclick="gripperAction({{ $idx }}, 'action=grab')">Close</button></li>
      </ul>
    </div>
    {{ end }}

    
    <table>
      <tr>
        <td><img id="i0" src=""/></td>
        <td><img id="i1" src=""/></td>
        {{ range $view := .RemoteViews }}
          <td>
          {{ htmlSafe $view.Body }}
          </td>
        {{ end }}
      </tr>
      </table>

    
    <div id="res"></div>
    
  </body>
</html>

{{define "C"}}
<li>
  {{ index . 1 }}
  <button onclick="armInc({{ index . 0 }}, '{{index . 1 }}=2')">+</button>
  <button onclick="armInc({{ index . 0 }}, '{{index . 1 }}=-2')">-</button>
  <span id='arm_c_{{index . 0}}_{{index . 1}}'></span>
</li>
{{end}}

{{define "J"}}
<li>
  Joint {{index . 1}}
  <button onclick="armInc({{ index . 0}}, 'j{{index . 1}}=.01', 'joint' )">+</button>
  <button onclick="armInc({{ index . 0}}, 'j{{index . 1}}=.01', 'joint' )">-</button>
  <span id='arm_j_{{index . 0}}_{{index . 1}}'></span>
</li>
{{end}}
