<html>
  <head>
    <script>
      function roverAction(action) {
          var path = "/api/base?" + action + "&speed=" + document.getElementById("speed").value;
          makeApiCall(path);
      }

      function makeApiCall(path) {
          console.log(path);
          fetch( path, { method: "POST"})
              .then(function(response) {
                  return response.json();})
              .then( function(response) {
                  document.getElementById("res").innerHTML = JSON.stringify(response);
              });
      }

      window.onkeypress = function(k) {
          switch (k.key) {
          case "s":
              roverAction("stop=true");
              break;
          }

      }

      function armInc(arm, action, mode) {
          if (!mode) {
              mode = "grid"
          }
          var path = "/api/arm?num=" + arm + "&mode=" + mode + "&action=inc&" + action;
          makeApiCall(path);
      }

      function gripperAction(num, action) {
          var path = "/api/gripper?num=" + num + "&" + action;
          makeApiCall(path);
      }
      
      {{ range $view := .RemoteViews }}
        {{ jsSafe $view.JavaScript }}
      {{ end }}
      
    </script>
  </head>
  <body>

    <div id="res"></div>
    
    {{ range $b := .Bases }}
    <div class="base">
      {{ $b }}
      <ul>
        <li><button onclick="roverAction('distanceMM=200')">Forward</button></li>
        <li><button onclick="roverAction('distanceMM=-200')">Backward</button></li>
        <li><button onclick="roverAction('angle=15')">Spin Clockwise</button></li>
        <li><button onclick="roverAction('angle=-15')">Spin Counterclockwise</button></li>
      </ul>

      Speed: <input id="speed" name="speed" value="64"/><br>
    </div>
    {{ end }}

    {{ range $idx, $a := .Arms }}
    <div class="arm">
      <h3>Arm {{ $a }}</h3>
      <table>
        <tr>
          <th><h5>GRID</h5></th>
          <th><h5>JOINTS</h5></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li><button onclick="armInc({{ $idx }}, 'x=2')">X+</button></li>
              <li><button onclick="armInc({{ $idx }}, 'x=-2')">X-</button></li>
              
              <li><button onclick="armInc({{ $idx }}, 'y=2')">Y+</button></li>
              <li><button onclick="armInc({{ $idx }}, 'y=-2')">Y-</button></li>
              
              
              <li><button onclick="armInc({{ $idx }}, 'z=2')">Z+</button></li>
              <li><button onclick="armInc({{ $idx }}, 'z=-2')">Z-</button></li>
              
            </ul>
          </td>
          <td>
            <ul>
              {{template "J" list $idx 0}}
              {{template "J" list $idx 1}}
              {{template "J" list $idx 2}}
              {{template "J" list $idx 3}}
              {{template "J" list $idx 4}}
              {{template "J" list $idx 5}}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    {{ end }}

    {{ range $idx, $g := .Grippers }}
    <div class="gripper">
      Gripper {{ $g }}
      <ul>
        <li><button onclick="gripperAction({{ $idx }}, 'action=open')">Open</button></li>
        <li><button onclick="gripperAction({{ $idx }}, 'action=grab')">Close</button></li>
      </ul>
    </div>
    {{ end }}

    
    <table>
      <tr>
        <td><img id="i0" src=""/></td>
        <td><img id="i1" src=""/></td>
        {{ range $view := .RemoteViews }}
          <td>
          {{ htmlSafe $view.Body }}
          </td>
        {{ end }}
      </tr>
      </table>
    
  </body>
</html>
{{define "J"}}
<li>
  Joint {{index . 1}}
  <button onclick="armInc({{ index . 0}}, 'j{{index . 1}}=.01', 'joint' )">+</button>
  <button onclick="armInc({{ index . 0}}, 'j{{index . 1}}=.01', 'joint' )">-</button>
</li>
{{end}}
