[Unit]
Description=Viam Robot
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/viamserver /etc/viam.json

[Install]
WantedBy=multi-user.target
