<robot name="test">
  <link name="world"></link>
  <link name="foo">
    <collision>
      <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000"></origin>
      <geometry>
        <sphere radius="0.01"></sphere>
      </geometry>
    </collision>
  </link>
  <link name="bar">
    <collision>
      <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000"></origin>
      <geometry>
        <sphere radius="0.01"></sphere>
      </geometry>
    </collision>
  </link>
  <joint name="foo_joint" type="fixed">
    <parent link="world"></parent>
    <child link="foo"></child>
  </joint>
  <joint name="bar_joint" type="fixed">
    <parent link="world"></parent>
    <child link="bar"></child>
  </joint>
</robot>