[Unit]
Description=Viam Robot Server
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=10
ConditionPathExists=/etc/viam.json

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
TimeoutSec=600
ExecStartPre=-/usr/local/bin/viam-server --aix-update
ExecStart=/usr/local/bin/viam-server /etc/viam.json
ExecStop=/bin/sh -c "kill $MAINPID; sleep 2"

[Install]
WantedBy=multi-user.target

