@font-face {
    font-family: 'Space Mono';
    font-weight: normal;
    font-style: normal;
    src: url('../webfonts/SpaceMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Space Mono';
    font-weight: normal;
    font-style: italic;
    src: url('../webfonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../webfonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;
    src: url('../webfonts/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;
    src: url('../webfonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    src: url('../webfonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}


.component {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.component.card,
.component .card {
    background-color: var(--white);
    padding: 12px;
    border: 1px solid var(--black-30);
    filter: drop-shadow(0px 2px 4px var(--black-30));
    margin-bottom: 20px;
}

/*************
* TYPOGRAPHY *
*************/
.component h1 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 68px;
    font-weight: 400;
}
.component h2 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.component h3 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.component h4 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.component h5 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.component h6 {
    font-family: 'Space Mono', 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.component .subtitle {
    font-size: 16px;
    font-weight: 600;
}
.component caption,
.component .caption {
    font-size: 12px;
    font-weight: 400;
}

/**********
* BUTTONS *
**********/
.component button {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.component button:hover,
.component button:focus {
    filter: brightness(var(--hover-brightness));
}
.component button:active {
    filter: none;
}
.component button:disabled {
    filter: brightness(var(--disabled-brightness));
}
.component button.clear {
    background-color: var(--white);
    border: 1px solid var(--black-100);
    color: var(--black-90);
}
.component button.clear:hover,
.component button.clear:active,
.component button.clear:focus {
    background-color: var(--black-10);
    filter: none;
}
.component button.clear:disabled {
    background-color: var(--black-20);
    color: var(--black-50);
    border: 1px solid var(--black-30);
    filter: none;
}
.component button.black {
    background-color: var(--black-100);
    border: 1px solid var(--black-100);
    color: var(--white);
}
.component button.black:disabled {
    background-color: var(--black-90);
    color: var(--black-60);
    filter: none;
}
.component button.blue {
    background-color: var(--blue-90);
    color: var(--white);
}
.component button.red {
    background-color: var(--red-100);
    color: var(--white);
}
.component button.green {
    background-color: var(--green-90);
    color: var(--white);
}

/*********
* INPUTS *
*********/
.component label.error {
    color: var(--red-70) !important;
}

.component input[type=number],
.component input[type=text] {
    margin: 0;
    padding: 8px;
    border: 1px solid var(--black-100);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.component input[type=number]:disabled,
.component input[type=text]:disabled {
    background-color: var(--black-20);
    color: var(--black-50);
    border: 1px solid var(--black-30);
}
.component input[type=number].error,
.component input[type=text].error {
    border: 1px solid var(--red-70);
}

.component .input-pre {
    border: 1px solid var(--black-100);
    border-right: none;
    padding: 8px;
    font-size: 13px;
}

.component .input-post {
    border: 1px solid var(--black-100);
    border-left: none;
    padding: 8px;
    font-size: 13px;
}

  input[type=range] {
    height: 23px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--black-40);
    border-radius: 0px;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid var(--black-100);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--white);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--black-40);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--black-40);
    border-radius: 0px;
  }
  input[type=range]::-moz-range-thumb {
    border: 1px solid var(--black-100);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--white);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--black-40);
    border-radius: 0px;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--black-40);
    border-radius: 0px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 1px solid var(--black-100);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--black-40);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--black-40);
  }


/********
* PILLS *
********/
.component .pill {
    border: 1px solid var(--black-70);
    background-color: var(--black-20);
    border-radius: 48px;
    font-size: 14px;
    text-align: center;
    color: var(--black-100);
    padding: 4px 8px;
}
.component .pill.green {
    border: 1px solid var(--green-90);
    background-color: var(--green-40);
    color: var(--green-90)
}
.component .pill.red {
    border: 1px solid var(--red-90);
    background-color: var(--red-40);
    color: var(--red-90);
}

/************
* VARIABLES *
*************/
:root {
    --white: #FFFFFF;
    --black: #000000;
    --carbon-dark: #42505E;
    --carbon-neutral: #8A9FB6;
    --carbon-light: #B5C4CD;
    --black-100: #1A1D20;
    --black-90: #30353B;
    --black-80: #484F58;
    --black-70: #59626C;
    --black-60: #7A8187;
    --black-50: #9FA4A9;
    --black-40: #C3C5C6;
    --black-30: #D7D7D9;
    --black-20: #F0F0F0;
    --black-10: #FAFBFC;
    --red-100: #94261E;
    --red-90: #BE3026;
    --red-80: #D84B41;
    --red-70: #E1736B;
    --red-60: #E99B95;
    --red-50: #F2C4C0;
    --red-40: #FBECEB;
    --orange-100: #CC7A00;
    --orange-90: #FF9900;
    --orange-80: #FFAD32;
    --orange-70: #FFC266;
    --orange-60: #FFD699;
    --orange-50: #FFEBCC;
    --orange-40: #FFF5E4;
    --yellow-100: #FFCC00;
    --yellow-90: #FFD632;
    --yellow-80: #FFE066;
    --yellow-70: #FFEB99;
    --yellow-60: #FFF6CC;
    --green-100: #295B33;
    --green-90: #397F48;
    --green-80: #49A25C;
    --green-70: #64B977;
    --green-60: #87C996;
    --green-50: #ABD9B5;
    --green-40: #CEE9D4;
    --blue-100: #02354E;
    --blue-90: #045681;
    --blue-80: #0579B2;
    --blue-70: #079AE4;
    --blue-60: #24B2F8;
    --blue-50: #56C3F8;
    --blue-40: #88D5FB;
    --blue-30: #BBE7FD;
    --blue-20: #EBF9FE;
    --blue-10: #F9FDFF;
    --purple-100: #6400E4;

    --hover-brightness: 1.2;
    --disabled-brightness: 0.85;
}
