Description=Intel RealSense Camera Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/intelrealserver

[Install]
WantedBy=multi-user.target
