<html>
  <head>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=" />
    <script type="module">
      window.webrtcEnabled = {{ .WebRTCEnabled }}
      window.webrtcHost = {{ .WebRTCHost }}
      window.webrtcSignalingAddress = {{ .WebRTCSignalingAddress }}
      window.webrtcAdditionalICEServers = {{ .WebRTCAdditionalICEServers }}
      window.bakedAuth = {{ .BakedAuth }} || {};
      window.supportedAuthTypes = {{ .SupportedAuthTypes }} || [];
    </script>

    <!-- Configure static file path for Prime component library -->
    <link rel="preload" href="/static/prime.css" as="style">

    {{ if .External }}
    <link rel="stylesheet" href="/static/rdk/main.css" />
    {{ else if eq .Env "production" }}
    <link rel="stylesheet" href="/static/main.css" />
    {{ end }}

    <script type="module">
      window.PRIME_CONFIG = { base: '/static' }
    </script>
  </head>

  <body>
    <div id="app"></div>

    {{ if .External }}
    <script src="/static/rdk/control.js"></script>
    {{ else }}

    {{ if eq .Env "development" }}
    <script type="module" src="http://localhost:5173/src/main.js"></script>
    {{ end }}

    {{ if eq .Env "production" }}
    <script type="module" src="/static/control.js"></script>
    {{ end }}

    {{ end }}
  </body>
</html>
