<html>
  <head>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=" />
    <script>
      window.webrtcEnabled = {{ .WebRTCEnabled }}
      window.webrtcHost = {{ .WebRTCHost }}
      window.webrtcSignalingAddress = {{ .WebRTCSignalingAddress }}
      window.webrtcAdditionalICEServers = {{ .WebRTCAdditionalICEServers }}
      window.bakedAuth = {{ .BakedAuth }} || {};
      window.supportedAuthTypes = {{ .SupportedAuthTypes }} || [];
    </script>

    <!-- Configure static file path for Prime component library -->
    <link rel="preload" href="/static/prime.css" as="style">

    <script type="module">
      window.PRIME_CONFIG = { base: '/static' }
    </script>

    {{ if .External }}
    <script src="/static/rdk/control.js"></script>
    {{ end }}
  </head>

  <body class="p-2">
    <div id="app"></div>

    <!-- <script type="module" src="/static/control.js"></script> -->

    <script type="module" src="http://localhost:3000/src/main.js"></script>
  </body>
</html>
