Source: viam-server
Section: science
Priority: optional
Maintainer: James Otting <james@viam.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3

Package: viam-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: viam-camera-servers
Description: Viam's robot controlling daemon
 Control server providing gRPC access for control
 of robots.
