name: Viam CLI

on:
  workflow_dispatch:
    inputs:
      release_type:
        default: latest
        required: true
        type: choice
        options: [latest, stable, pr]
  workflow_call:
    inputs:
      release_type:
        required: true
        type: string
    secrets:
      GCP_CREDENTIALS:
        required: true

jobs:
  viam-cli:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push' || github.event_name == 'pull_request'
      uses: actions/checkout@v4
    - name: Check out PR branch code
      if: github.event_name == 'pull_request_target'
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache-dependency-path: cli/test-requirements.txt

    - run: |
        go run -tags no_cgo ./cli/viam/ module create --local-only --name schematest --public-namespace ns
        cat meta.json | jq '.models = [{"api": "x:y:z", "model": "x:y:z"}]' > meta2.json
        python -m venv .venv
        source .venv/bin/activate
        pip install -r cli/test-requirements.txt
        check-jsonschema --schemafile ./cli/module.schema.json meta2.json
        rm meta.json meta2.json

    - name: build
      env:
        CI_RELEASE: ${{ inputs.release_type }}
      run: |
        GOOS=linux GOARCH=amd64 make cli-ci
        GOOS=linux GOARCH=arm64 make cli-ci
        GOOS=darwin GOARCH=amd64 make cli-ci
        GOOS=darwin GOARCH=arm64 make cli-ci
        GOOS=windows GOARCH=amd64 EXE_SUFFIX=.exe make cli-ci

    - name: tagged alias
      env:
         CI_RELEASE: ${{ github.ref_name }}
      if: inputs.release_type == 'stable'
      run: |
        GOOS=linux GOARCH=amd64 make cli-ci
        GOOS=linux GOARCH=arm64 make cli-ci
        GOOS=darwin GOARCH=amd64 make cli-ci
        GOOS=darwin GOARCH=arm64 make cli-ci
        GOOS=windows GOARCH=amd64 EXE_SUFFIX=.exe make cli-ci

    - name: Authorize GCP Upload
      if: inputs.release_type != 'pr'
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
    - name: upload
      if: inputs.release_type != 'pr'
      uses: google-github-actions/upload-cloud-storage@v0.10.4
      with:
        headers: "cache-control: no-cache"
        path: 'bin/deploy-ci'
        glob: 'viam-cli-*'
        destination: 'packages.viam.com/apps/viam-cli/'
        parent: false
