name: 'Code samples comment on PR'

on:
  workflow_run:
    workflows: ["Pull Request Update"]
    types:
      - completed

jobs:
  comment:
    name: 'Post Code Samples Comment on PR'
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request_target' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Write Function
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - run: python ./etc/code-samples-action.py

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Code-Samples Warning
          number: ${{ env.PR_NUMBER }}
          recreate: true
          path: code-samples-warning.md

