name: Docker

on:
  schedule:
    - cron: '0 6 * * *' # once a day at 6AM UTC (1AM/EST, 2AM/EDT)
  workflow_dispatch:
  workflow_call:

# To test workflow updates you need to work in a branch directly on viamrobotics/rdk
# and tag your working branch instead of @main in any viamrobotics/rdk "uses" below.
# Don't forget to tag back to @main before merge.

jobs:
  canon-cache:
    name: Build Canon Cache Docker Images
    runs-on: [x64, qemu-host]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
      options: --platform linux/amd64
    timeout-minutes: 45
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Check out code
      uses: actions/checkout@v2
    - name: Build and push
      run: |
        echo "machine github.com login viambot password ${{ secrets.REPO_READ_TOKEN }}" > ~/.netrc
        make canon-cache

  test:
    needs: canon-cache
    uses: viamrobotics/rdk/.github/workflows/test.yml@main
    secrets:
      ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS }}
      TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      REPO_READ_TOKEN: ${{ secrets.REPO_READ_TOKEN }}
