# .github/workflows/run-htmltest.yml
# (c) 2021 Robb Romans
#
# Run htmltest link checker on generated HTML output in dist/
# https://github.com/wjdp/htmltest
#
name: run-htmltest
on:
  schedule:
    # 10am UTC on Mondays
    - cron: "0 10 * * 1"
jobs:
  htmltest:
    runs-on: ubuntu-large
    container:
       image: ghcr.io/cirruslabs/flutter:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Node.js (required for actions)
        run: |
          apt-get update
          apt-get install -y curl
          curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
          apt-get install -y nodejs
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install doc2go
        run: go install go.abhg.dev/doc2go@latest
      - name: Generate API reference
        run: doc2go -out www ./...
      - name: Test HTML
        # https://github.com/wjdp/htmltest-action/
        # Don't fail the build on broken links
        continue-on-error: false
        uses: wjdp/htmltest-action@master
        with:
          config: .htmltest.yml
      - name: Archive htmltest results
        uses: actions/upload-artifact@v3
        # Note: Set ACTIONS_RUNTIME_TOKEN env variable to test with nektos/act
        with:
          name: htmltest-report
          path: tmp/.htmltest/htmltest.log
          retention-days: 7 # Default is 90 days
      - name: Login to Jira
        if: failure()
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      - name: Create Jira ticket
        if: failure()
        id: create
        uses: atlassian/gajira-create@v3
        env:
          GITHUB_RUN_ID: ${{ github.run_id }}
        with:
          project: DOCS
          issuetype: Bug
          summary: Broken link detected in RDK
          description: "For more info see https://github.com/viamrobotics/rdk/actions/runs/${{ env.GITHUB_RUN_ID }}."
      - name: Log created Jira issue
        if: failure()
        run: echo "Issue ${{ steps.create.outputs.issue }} was created"
