name: Build and Publish RC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

# To test workflow updates you need to work in a branch directly on viamrobotics/rdk
# and tag your working branch instead of @main in any viamrobotics/rdk "uses" below.
# Don't forget to tag back to @main before merge.

jobs:
  test:
    uses: viamrobotics/rdk/.github/workflows/test.yml@main
    secrets:
      MONGODB_TEST_OUTPUT_URI: ${{ secrets.MONGODB_TEST_OUTPUT_URI }}

  appimage:
    needs: test
    uses: viamrobotics/rdk/.github/workflows/appimage.yml@main
    with:
      release_type: 'rc'
    secrets:
      GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

  staticbuild:
    needs: test
    uses: viamrobotics/rdk/.github/workflows/staticbuild.yml@main
    with:
      release_type: 'rc'
    secrets:
      GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

  droid:
    needs: test
    uses: viamrobotics/rdk/.github/workflows/droid.yml@main
    with:
      release_type: 'rc'
    secrets:
      GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

  npm_publish:
    uses: viamrobotics/rdk/.github/workflows/npm-publish.yml@main
    needs: test
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
