on:
  push:

jobs:
  docker:
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    permissions:
      packages: write
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-qemu-action@v2
    - uses: docker/setup-buildx-action@v2
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v4
      with:
        file: etc/packaging/32bit/Dockerfile
        tags: ghcr.io/viamrobotics/viam-server:armv7
        pull: true
        push: true
        cache-from: type=registry,ref=ghcr.io/viamrobotics/viam-server:buildcache
        cache-to: type=registry,ref=ghcr.io/viamrobotics/viam-server:buildcache
        platforms: linux/armv7
  build:
    needs: [docker]
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    permissions:
      packages: read
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-qemu-action@v2
    - uses: docker/setup-buildx-action@v2
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: build
      run: |
        docker run --platform linux/armv7 --rm -v $PWD/:/rdk ghcr.io/viamrobotics/viam-server:armv7 sh -c "git config --global --add safe.directory '*' && go build -v -tags no_pigpio,no_tflite ./web/cmd/server"
        file server
    - uses: actions/upload-artifact@v3
      with:
        path: server
  upload:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: server
    - name: Authorize GCP Upload
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
    - name: upload
      uses: google-github-actions/upload-cloud-storage@v0.10.4
      with:
        headers: "cache-control: no-cache"
        path: server
        destination: 'packages.viam.com/apps/viam-server/viam-server-latest-armv7l'
        parent: false
