name: Build Semi-Static Binary

on:
  workflow_dispatch:
    inputs:
      release_type:
        required: true
        default: latest
        type: string
      no-upload:
        type: boolean
        description: "no-upload: if checked, don't upload"
  workflow_call:
    inputs:
      release_type:
        required: true
        type: string
    secrets:
      GCP_CREDENTIALS:
        required: true
      SLACK_BOT_TOKEN:
        required: false

jobs:
  static:
    name: Antique Build Linux and Windows
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: ubuntu-latest
            image: ghcr.io/viamrobotics/antique2:amd64-cache
            platform: linux/amd64
            target: static-release
          - arch: ubuntu-small-arm
            image: ghcr.io/viamrobotics/antique2:arm64-cache
            platform: linux/arm64
            target: static-release
          - arch: ubuntu-latest
            image: ghcr.io/viamrobotics/antique2:amd64-cache
            platform: linux/amd64
            target: static-release-win
    runs-on: ${{ matrix.arch }}
    container:
      image: ${{ matrix.image }}
      options: --platform ${{ matrix.platform }}
      volumes:
      # otherwise we get a 'read-only filesystem' error when symlinking over this
      - /tmp/node20:/__e/node20
    timeout-minutes: 15
    outputs:
      date: ${{ steps.build_date.outputs.date }}
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: 'true'

    steps:
    - name: override nodejs
      # note: the antique image intentionally has an old ubuntu with old GLIBC; github's node requires a newer one.
      # actions require this /__e/node20/bin/node file, so we override it.
      run: |
        mkdir -p /__e/node20/bin/
        ln --force --symbolic $(which node) /__e/node20/bin/node
        /__e/node20/bin/node --version

    - name: Check out code
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # needed for dev-version.sh to work

    - name: Check out PR branch code
      if: github.event_name == 'pull_request_target'
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Clean and Fix Permissions
      run: |
        chown -R testbot:testbot .
        sudo -Hu testbot bash -lc 'make clean-all'

    - name: Authorize GCP Upload
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Build (PR)
      if: contains(github.event.pull_request.labels.*.name, 'static-build') || contains(github.event.pull_request.labels.*.name, 'static-ignore-tests')
      run: |
        sudo -Hu testbot bash -lc 'make BUILD_CHANNEL="pr-${{ github.event.pull_request.number }}" ${{ matrix.target }}'

    - name: Upload Files (PR)
      if: contains(github.event.pull_request.labels.*.name, 'static-build') || contains(github.event.pull_request.labels.*.name, 'static-ignore-tests')
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/deploy/'
        destination: 'packages.viam.com/apps/viam-server/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

    - name: Build (Latest)
      if: inputs.release_type == 'latest'
      run: |
        sudo -Hu testbot bash -lc 'make RELEASE_TYPE="latest" BUILD_CHANNEL="$(./etc/dev-version.sh)" ${{ matrix.target }}'

    - name: Build (Tagged)
      if: inputs.release_type == 'stable' || inputs.release_type == 'rc'
      run: |
        sudo -Hu testbot bash -lc 'make RELEASE_TYPE="${{ inputs.release_type }}" BUILD_CHANNEL="${{ github.ref_name }}" ${{ matrix.target }}'

    - name: Set Date
      id: build_date
      run: echo "date=`date +%F`" >> $GITHUB_OUTPUT

    - name: Upload Files (Testing)
      if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/deploy/'
        destination: 'packages.viam.com/apps/viam-server/testing/static/${{ steps.build_date.outputs.date }}/${{ github.sha }}/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

    - name: Upload Manifest (Testing)
      if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/manifest/'
        destination: 'packages.viam.com/apps/viam-subsystems/testing/viam-server/${{ steps.build_date.outputs.date }}/${{ github.sha }}/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

  mac:
    name: Build MacOS
    runs-on: macos-latest
    timeout-minutes: 15
    outputs:
      date: ${{ steps.build_date.outputs.date }}

    steps:
    - name: Check out code
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # needed for dev-version.sh to work

    - name: Check out PR branch code
      if: github.event_name == 'pull_request_target'
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Authorize GCP Upload
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Install dependencies
      run: |
        brew update
        brew tap viamrobotics/brews
        brew install nlopt-static
        brew install x264

        # Hackily disable all the dylibs from the two installed Brew libraries to force
        # make server-static to create a binary that statically links them in.
        for f in "$(brew --prefix nlopt-static)"/lib/*.dylib; do mv "$f" "$f.bak"; done
        for f in "$(brew --prefix x264)"/lib/*.dylib; do mv "$f" "$f.bak"; done

    - name: Build (PR)
      if: contains(github.event.pull_request.labels.*.name, 'static-build') || contains(github.event.pull_request.labels.*.name, 'static-ignore-tests')
      run: |
        make BUILD_CHANNEL="pr-${{ github.event.pull_request.number }}" static-release-macos

    - name: Upload Files (PR)
      if: contains(github.event.pull_request.labels.*.name, 'static-build') || contains(github.event.pull_request.labels.*.name, 'static-ignore-tests')
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/deploy/'
        destination: 'packages.viam.com/apps/viam-server/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

    - name: Build (Latest)
      if: inputs.release_type == 'latest'
      run: |
        make RELEASE_TYPE="latest" BUILD_CHANNEL="$(./etc/dev-version.sh)" static-release-macos

    - name: Build (Tagged)
      if: inputs.release_type == 'stable' || inputs.release_type == 'rc'
      run: |
        make RELEASE_TYPE="${{ inputs.release_type }}" BUILD_CHANNEL="${{ github.ref_name }}" static-release-macos

    - name: Set Date
      id: build_date
      run: echo "date=`date +%F`" >> $GITHUB_OUTPUT

    - name: Upload Files (Testing)
      if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/deploy/'
        destination: 'packages.viam.com/apps/viam-server/testing/static/${{ steps.build_date.outputs.date }}/${{ github.sha }}/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

    - name: Upload Manifest (Testing)
      if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        headers: "cache-control: no-cache"
        path: 'etc/packaging/static/manifest/'
        destination: 'packages.viam.com/apps/viam-subsystems/testing/viam-server/${{ steps.build_date.outputs.date }}/${{ github.sha }}/'
        glob: 'viam-server-*'
        parent: false
        gzip: false

  output_summary:
    name: Output Summary
    runs-on: ubuntu-latest
    needs: [static, mac]
    if: contains(github.event.pull_request.labels.*.name, 'static-build') || contains(github.event.pull_request.labels.*.name, 'static-ignore-tests')
    steps:
    - name: Output Summary
      run: |
        channel="pr-${{ github.event.pull_request.number }}"
        echo "### Built Static Binaries for ${channel}" >> $GITHUB_STEP_SUMMARY
        echo "- arm64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-aarch64" >> $GITHUB_STEP_SUMMARY
        echo "- x86_64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-x86_64" >> $GITHUB_STEP_SUMMARY
        echo "- windows x86_64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-windows-x86_64" >> $GITHUB_STEP_SUMMARY
        echo "- macOS arm64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-darwin-aarch64" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY

  static_test:
    name: Static Test
    if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
    strategy:
      fail-fast: false
      matrix:
        arch: [[ubuntu-latest], [ubuntu-small-arm], [pi4], [pi5]]
    needs: static
    runs-on: ${{ matrix.arch }}
    timeout-minutes: 15
    outputs:
      date: ${{ needs.static.outputs.date }}

    steps:
    - name: Clean Workspace
      run: |
        shopt -s dotglob
        sudo chown -R `whoami` ./
        rm -rf ./*

    - name: Test Static Binary
      run: |
        channel="${{ github.ref_name }}"
        # we call our main branch releases "latest"
        if [ "$channel" = "main" ]; then
          channel="latest"
        fi

        export TEST_DIR=`mktemp -d -t test-viam-server-XXXXXX`
        cd $TEST_DIR

        curl -f -o viam-server https://storage.googleapis.com/packages.viam.com/apps/viam-server/testing/static/${{ needs.static.outputs.date }}/${{ github.sha }}/viam-server-${channel}-`uname -m`
        chmod 755 viam-server

        export RAND_PORT=$((30000 + $RANDOM))
        echo "{\"network\": {\"bind_address\":\"localhost:${RAND_PORT}\"}}" > test.json

        ./viam-server -config test.json &
        curl --retry 5 --retry-delay 5 --retry-connrefused localhost:$RAND_PORT
        export RET1=$?
        kill %%
        wait $!
        export RET2=$?
        cd - && rm -rf $TEST_DIR
        [ $RET1 == 0 ] && [ $RET1 == 0 ]

  mac_test:
    name: Mac Test
    if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && !inputs.no-upload }}
    needs: mac
    runs-on: macos-latest
    timeout-minutes: 15
    outputs:
      date: ${{ needs.mac.outputs.date }}

    steps:
    - name: Test MacOS Binary
      run: |
        channel="${{ github.ref_name }}"
        # we call our main branch releases "latest"
        if [ "$channel" = "main" ]; then
          channel="latest"
        fi

        export TEST_DIR=`mktemp -d -t test-viam-server-XXXXXX`
        cd $TEST_DIR

        curl -o viam-server https://storage.googleapis.com/packages.viam.com/apps/viam-server/testing/static/${{ needs.mac.outputs.date }}/${{ github.sha }}/viam-server-${channel}-darwin-aarch64
        chmod 755 viam-server

        export RAND_PORT=$((30000 + $RANDOM))
        echo "{\"network\": {\"bind_address\":\"localhost:${RAND_PORT}\"}}" > test.json

        ./viam-server -config test.json &
        curl --retry 5 --retry-delay 5 --retry-connrefused localhost:$RAND_PORT
        export RET1=$?
        kill %%
        wait $!
        export RET2=$?
        cd - && rm -rf $TEST_DIR
        [ $RET1 == 0 ] && [ $RET1 == 0 ]

  static_deploy:
    name: Static Deploy
    needs: [static_test, mac_test]
    if: ${{ !inputs.no-upload }}
    runs-on: ubuntu-latest

    steps:
    - name: Authorize GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Publish Static Binary
      if: inputs.release_type != 'latest'
      run: |
        gsutil mv "gs://packages.viam.com/apps/viam-server/testing/static/${{ needs.static_test.outputs.date }}/${{ github.sha }}/*" "gs://packages.viam.com/apps/viam-server/"

    - name: Publish Static Binary (Latest)
      if: inputs.release_type == 'latest'
      run: |
        gsutil mv "gs://packages.viam.com/apps/viam-server/testing/static/${{ needs.static_test.outputs.date }}/${{ github.sha }}/viam-server-v*" "gs://packages.viam.com/apps/viam-server/prerelease/"
        gsutil mv "gs://packages.viam.com/apps/viam-server/testing/static/${{ needs.static_test.outputs.date }}/${{ github.sha }}/viam-server-latest*" "gs://packages.viam.com/apps/viam-server/"

    - name: Publish Subsystem Metadata
      run: |
        gsutil mv "gs://packages.viam.com/apps/viam-subsystems/testing/viam-server/${{ needs.static_test.outputs.date }}/${{ github.sha }}/*" "gs://packages.viam.com/apps/viam-subsystems/"

    - name: Output Summary
      run: |
        channel="${{ github.ref_name }}"
        # we call our main branch releases "latest"
        if [ "$channel" == "main" ]; then
          channel="latest"
        fi
        echo "### Built Static Binaries for ${channel}" >> $GITHUB_STEP_SUMMARY
        echo "- arm64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-aarch64" >> $GITHUB_STEP_SUMMARY
        echo "- x86_64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-x86_64" >> $GITHUB_STEP_SUMMARY
        echo "- windows x86_64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-windows-x86_64" >> $GITHUB_STEP_SUMMARY
        echo "- macOS arm64: https://storage.googleapis.com/packages.viam.com/apps/viam-server/viam-server-${channel}-darwin-aarch64" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY


  send-slack-msg:
    name: 'Send Slack Message'
    needs: static_deploy
    runs-on: ubuntu-latest
    if: ${{ inputs.release_type == 'latest' && !inputs.no-upload && needs.static_deploy.result == 'success' }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get dev version
        id: dev-version
        run: |
          echo "version=$(./etc/dev-version.sh)" >> $GITHUB_OUTPUT

      - name: Send slack message
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "${{ vars.SLACK_CHANNEL_ID }}",
              "text": "Dev RDK release *published* :white_check_mark:",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Dev RDK release *published* :white_check_mark:\n\n• Dev version: `${{ steps.dev-version.outputs.version }}`\n\n*Versioned Binaries (${{ steps.dev-version.outputs.version }}):*\n• <https://storage.googleapis.com/packages.viam.com/apps/viam-server/prerelease/viam-server-${{ steps.dev-version.outputs.version }}-aarch64|Linux ARM64>\n• <https://storage.googleapis.com/packages.viam.com/apps/viam-server/prerelease/viam-server-${{ steps.dev-version.outputs.version }}-x86_64|Linux x86_64>\n• <https://storage.googleapis.com/packages.viam.com/apps/viam-server/prerelease/viam-server-${{ steps.dev-version.outputs.version }}-windows-x86_64|Windows x86_64>\n• <https://storage.googleapis.com/packages.viam.com/apps/viam-server/prerelease/viam-server-${{ steps.dev-version.outputs.version }}-darwin-aarch64|MacOS arm64>\nYou can use this dev release by setting your agent config viam-server version to one of the URLs above.\n\n*Build Info:*\n• <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Workflow run>\n• Commit: <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>"
                  }
                }
              ]
            }
      
