name: Go

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/Dockerfile.fortest'
      - '**/.github/workflows/docker.yml'
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/test:latest

    steps:

    - name: Check out code in rdk directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Configure git for private modules
      run: |
        sudo -u testbot bash -lc "git config --global --unset-all url.ssh://git@github.com/.insteadOf"
        sudo -u testbot bash -lc "git config --global url.\"https://${{ secrets.GIT_ACCESS_TOKEN }}@github.com\".insteadOf \"https://github.com\""

    - name: Update dev environment
      run: |
        sudo -u testbot bash -lc 'make setup'

    - name: Verify no uncommitted changes from "make build lint"
      run: |
        git init
        git add .
        chown -R testbot .
        sudo -u testbot bash -lc 'make build lint'
        GEN_DIFF=$(git diff)
        if [ -n "$GEN_DIFF" ]; then
            echo '"make build lint" resulted in changes not in git' 1>&2
            git status
            exit 1
        fi

    - name: Test
      env:
        ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS }}
        TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}
      run: |
        echo "$ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS" | base64 -d > artifact_google_creds.json
        export ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS=`pwd`/artifact_google_creds.json
        sudo -u testbot bash -lc 'make cover'

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Cleanup
    - uses: colpal/actions-clean@v1
      if: ${{ always() }} # To ensure this step runs even when earlier steps fail
