# See https://github.com/mvdan/github-actions-golang for golang nuances
name: Go

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/Dockerfile.fortest'
      - '**/.github/workflows/docker.yml'
  pull_request:
    branches: [ master ]

env:
  GOPRIVATE: "github.com/viamrobotics/*,go.viam.com/*"

jobs:
  build_and_test:
    name: Build and Test
    runs-on: [self-hosted, x64]
    container:
      image: echolabs/robotcoretest:latest

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Configure git for private modules
      env:
        TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
      run: |
        git config --global url."https://${TOKEN}@github.com".insteadOf "https://github.com"

    - name: Verify no new changes
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go \
          google.golang.org/grpc/cmd/protoc-gen-go-grpc \
          github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway \
          github.com/pseudomuto/protoc-gen-doc/cmd/protoc-gen-doc
        git init
        git add .
        make buf
        make goformat
        GEN_DIFF=$(git diff)
        if [ -n "$GEN_DIFF" ]; then
            echo '"buf generate or goformat" resulted in changes not in git' 1>&2
            echo "$GEN_DIFF" 1>&2
            exit 1
        fi

    - name: Lint
      run: |
        make lint

    - name: Test
      env:
        ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS }}
      run: |
        echo "$ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS" | base64 -d > artifact_google_creds.json
        export ARTIFACT_GOOGLE_APPLICATION_CREDENTIALS=`pwd`/artifact_google_creds.json
        make cover

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
