name: Test

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      MONGODB_TEST_OUTPUT_URI:
        required: true
      DOCKER_PUBLIC_READONLY_PAT:
        required: true

env:
  MONGODB_TEST_OUTPUT_URI: ${{ secrets.MONGODB_TEST_OUTPUT_URI }}

jobs:

  test_win:
    name: windows
    runs-on: ubuntu-arm-16-core
    timeout-minutes: 1
    steps:
    - name: test
      run: echo 'hello'

  test32:
    name: Go 32-bit Unit Tests
    runs-on: ubuntu-arm-16-core
    timeout-minutes: 1

    steps:
    - name: test
      run: sleep 2m
  
  test_passing:
    name: All Tests Passing
    needs: [ test32, test_win]
    runs-on: [ubuntu-latest]
    if: always()
    steps:
      - name: Check Results
        run: |
          echo Go 32-bit Tests: ${{ needs.test32.result }}
          echo Windows Tests: ${{ needs.test_win.result }}
          [ "${{ needs.test32.result }}" == "success" ] && \
          [ "${{ needs.test_win.result }}" == "success" ] && \
